<h1>Admin Orders</h1>

<%= link_to "All: #{@orders.count}", admin_orders_path %>
<%= link_to "Ordered: #{@orders.ordered.count}", admin_orders_path(filter: 'ordered') %>
<%= link_to "Paid: #{@orders.paid.count}", admin_orders_path(filter: 'paid') %>
<%= link_to "Completed: #{@orders.completed.count}", admin_orders_path(filter: 'completed') %>
<%= link_to "Cancelled: #{@orders.cancelled.count}", admin_orders_path(filter: 'cancelled') %>


<table class="orders">
  <% @orders.each do |order| %>
    <tr id="order-<%= order.id%>">
      <%= link_to "Order #: #{order.id}", order_path(order) %>
      <br>
      Ordered on: <%= order.created_at.strftime('%b %e, %l:%M %p') %>
      <br>
      Total: <%= number_to_currency order.total %>
    </tr>
  <% end %>
</table>
