<h1><%=@order.id%></h1>
<ul class="creatures">
  <h4>Order Placed On: <%= @order.created_at %></h4>

  <% @order.creatures.each do |creature| %>
    <li id="creature-<%= creature.id %>">
      <%= image_tag(creature.image_url) %>
      <%= link_to creature.breed, creature_path(creature) %>
      Unit Price: <%= number_to_currency creature.price %>
      Quantity: <%= @order.order_creatures.find_by(creature_id: creature.id).quantity %>
    </li>
  <% end %>

  Total: <%= @order.total %>
  Status: <%= @order.status.capitalize %>
  <% if @order.paid? || @order.ordered? %>
    <%= link_to "Cancel", order_path(@order), method: :put %>
  <% end %>
</ul>