<h1>My Cart</h1>
<ul class="cart-creatures">
  <% @cart.creatures.each do |creature| %>
  <li id="cart-creature-<%=creature.id%>">
    <%= image_tag creature.image_url, size: "100x100" %>
    <br>
    Breed: <%= link_to creature.breed, creature_path(creature) %>
    <br>
    Description: <%= creature.description %>
    <br>
    Unit Price: <%= number_to_currency creature.price %>
    <br>
    Quantity: <%= @cart.count_of(creature.id) %>
    <%= button_to "Increase Quantity", cart_path(creature_id: creature.id, change_quantity: "increment"), method: "put" %>
    <%= button_to "Decrease Quantity", cart_path(creature_id: creature.id, change_quantity: "decrement"), method: "put" %>
    <br>
    Subtotal: <%= number_to_currency @cart.subtotal(creature.id) %>
    <br>
    <%= button_to "Remove Item", cart_path(creature_id: creature.id), method: :delete %>
  </li>
  <% end %>
</ul>

<div class="cart-total">
  Total Price: <%= number_to_currency @cart.total_price %>
</div>

<div class="checkout">
  <% if current_user %>
    <%= button_to 'Checkout', orders_path, class: 'checkout-btn' %>
  <% else %>
    <p>
      <%= link_to 'Login', login_path %>
      or
      <%= link_to 'Create Account', new_user_path %>
      to Checkout
    </p>
  <% end %>
</div>
